.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px 0 150px;
}

.paginationContainer {
    width: 25dvw;
    margin: 50px auto;
}

@media (max-width: 1200px) {
    .cardContainer {
        padding: 100px 80px;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        padding: 100px 40px;
    }

    .paginationContainer {
        width: 90%;
        margin: 50px auto;
    }
}

@media (max-width: 555px) {
    .cardContainer {
        justify-content: center;
        padding: 100px 10px;
    }
}